<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include ../partials/header %>
        <link rel="stylesheet" href="/public/css/style.css">
        <title>Serinde</title>

</head>

<body>

    <h1>Men Tops</h1>

    <div class="row">

        <div class="card">
            <img class="card-img-top" src="/public/images/top1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Description</h5>
                <p class="card-text"> Men Polo Shirt Brand Summer Jerseys Male cotton breathable Polo Shirt</p>
                <h3>$59.99</h3>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="/public/images/top2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Description</h5>
                <p class="card-text"> TOMMY HILFIGER Men's wicking performance Polo Top - BLUE</p>
                <h3>$99.49</h3>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
        </div>

    </div>


</body>

</html>