<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% include ../partials/header %>
  <title>Serinde</title>
</head>

<body>
  <div class="jumbotron">
    <h1>Reset Password</h1>
  <form action="/resetpassword" method="POST">
    <div class="form-group">
      <label for="email">Check Email to Get Password Reset Link</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Reset</button>
  </form>
  <% include ../partials/scripts %>
</body>

</html>