<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/css/basiclayout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Seller Page</title>

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>

    <div class="container-fluid left_column">
        <div class="row">
            <div class="col-3  col_adjust left">
                <div class="seller_center_column1">
                    <!-- 1st third of the seller info list -->
                    <div id="seller_profile_1">
                        <a>
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="circle_photo img-responsive" src="#" alt="profile pic" height="200" ,
                                width="200">
                        </a>
                        <div>
                            <span>Seller Name</span>
                            <br>
                            <span>Review: 5 stars</span>
                            <br>
                            <br>
                        </div>
                    </div>
                    <!-- 2nd third of seller info list -->
                    <div id="seller_profile_2">
                        <span>Company: Serinde</span>
                        <br>
                        <a href="#">
                            Product List
                        </a>
                        <br>
                        <a href="#">
                            Add New Item
                        </a>
                        <br>
                        <span>Location: OK, USA</span>
                        <br>
                        <br>
                    </div>
                    <!-- last third of seller info list -->
                    <div>
                        <a href="#">
                            Edit Profile
                        </a>
                        <br>
                        <a href= '/contact'>
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-7 col_adjust right">
                <div class="row right_side">
                    <!-- center div inside a column -->
                    <div class="mx-auto">
                        <p class="seller_paragraph_text">
                            Here are some of our products:
                        </p>
                        <br>
                        <br>

                        <div>
                            <!-- code to show products will go here -->
                        </div>
                    </div>
                </div>
                <div class="row right_side">
                    <!-- center div inside a column -->
                    <div class="mx-auto">
                        <p class="seller_paragraph_text">
                            Got any questions or Concerns:
                        </p>
                        <br>
                        <br>
                        <div>
                            <!-- Email form will go here -->
                            
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





        <script src="js/scripts.js"></script>
</body>

</html>